<title>{{.Title}}</title>
{{ if .Description }}
<meta name="description" content="{{ .Description}}" />
{{ else if eq .Kind "section"}}
<meta name="description" content="{{.Summary}}" />
{{ else }}
<meta name="description" content="{{ .Site.Params.Description}}" />
{{ end }}
<link rel="stylesheet" href="style.css" />
<style>
  * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #232323;
  }
  .wrapper {
    width: 70%;
    margin: 0 auto;
  }
  .header,
  footer {
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    box-sizing: border-box;
  }
  .header {
    border-bottom: 2px solid rgb(110, 110, 110);
    margin-bottom: 40px;
  }
  footer {
    border-top: 2px solid rgb(110, 110, 110);
    margin-top: 40px;
  }
  .menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .menu-item {
    text-decoration: none;
    color: #444;
    font-size: 1.2rem;
    margin-right: 10px;
  }
  .wellcome-text,
  .single-title {
    margin: 20px 0 0 0;
  }
  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 30%;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .card .title {
    display: inline-block;
    color: #141414;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  .tags {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    padding: 3px 5px;
    font-size: 14px;
    background-color: #18a0fb;
    border-radius: 5px;
  }
  .single-content {
    margin-top: 20px;
    line-height: 25px;
  }
  .waktu {
    font-size: 0.85rem;
    color: #232323;
    display: block;
  }
  .pagination {
    list-style: none;
    width: 50%;
    text-align: center;
    margin: 20px auto;
    background-color: #18a0fb;
  }
  .page-item {
    display: inline;
  }
  .page-link,
  span {
    color: #fff;
    text-decoration: none;
  }

  .footer-tags {
    padding: 0 10px;
    background-color: #0074b9;
    color: #fff;
    text-decoration: none;
  }
  @media (max-width: 768px) {
    .card {
      width: 44%;
      margin-right: 1rem;
    }
  }
  @media (max-width: 576px) {
    .card {
      width: 100%;
    }
    footer {
      padding: 50px 0;
    }
    footer .menu {
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
    }
    footer .menu .menu-list {
      margin: 20px 0;
    }
  }
</style>
